.defaultImg{
    display: block;
    width: 100%;
}

.defaultA{
    display: block;
    text-decoration: none;
}

.defaultButton{
    font-family: inherit;
    display: block;
    cursor: pointer;
    padding: 0;
    border: unset;
    background: unset;
}

.defaultInput{
    border: unset;
    outline: unset;
    display: block;
    padding: 0;
}

.fakeHidden{
    font-size: 0;
    margin: 0;
    line-height: 0;
    width: 0;
    height: 0;
    opacity: 0;
}