/* -----------------------------------------
   Page-template
----------------------------------------- */
.template{
  .bd-example-row,.highlight{
    display: none;
  }
}
.btn-code{
   position: fixed;
   top: 10px;
   right: 105px;
   z-index: 9999999;
 }
