.privacyBox{
    .OuterBox{
        .MainBox{
            padding: 72px 0 113px;

            @include media-breakpoint-between(md,lg){
                padding: 42px 0 83px;
            }

            @include media-breakpoint-down(md){
                padding: 32px 0 73px;
            }
        }
    }

    .Para4{
        &.fore{
            margin: 0 0 38px;
        }
    }

    .privacyBlock{
        &:not(:last-child){
            margin: 0 0 48px;
        }

        .Para2{
            margin: 0 0 12px;
        }

        .Para4{
            >div{
                &:not(:last-child){
                    margin: 0;
                }
            }

            &.policy{
                margin: 0 0 20px;
            }

            &.item{
                padding: 0 0 0 20px;

                >li{
                    position: relative;
                    padding: 0 0 0 20px;

                    &:not(:last-child){
                        margin: 0 0 10px;
                    }

                    &::after{
                        background: #0068B2;
                        content: '';
                        display: block;
                        position: absolute;
                        z-index: 1;
                        border-radius: 999rem;
                        left: 0;
                        top: 13px;
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }
}